
<footer class="p-2">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-4 col-md-4">
        <%= link_to image_tag("logo-white.png", size: "120x40"), root_path, :class => 'pl-3 link-nav'%>
      </div>

      <div class="col-lg-4 col-md-4 text-center">
        <%= link_to "Privacy policy", root_path, :class => 'pl-2 link-footer'%>
        <%= link_to "Terms and condition", root_path, :class => 'pl-2 pr-2 link-footer'%>
        <span> Copyrigth 2020. All rigths reserved.</span>
      </div>

      <div class="col-lg-4 col-md-4 text-right">
        Conect with us:

          <div class="rounded-icon" >
            <%= image_tag("facebook.svg", class: 'social-icon') %>
          </div>
          <div class="rounded-icon" >
            <%= image_tag("instagram.svg", class: 'social-icon') %>
          </div>
          <div class="rounded-icon" >
            <%= image_tag("twitter.svg", class: 'social-icon') %>

        </div>
      </div>

    </div>
  </div>
</footer>
