
<nav class="sticky-top">

  <div class="d-flex justify-content-between p-4">

    <div>
      <%= link_to image_tag("logo-black.png", size: "150x50"), root_path, :class => 'pl-3 link-nav'%>
    </div>

    <div class="mt-3">
      <%= link_to "HOME", root_path, :class => 'pl-3 link-nav'%>
      <% if logged_in? %>
      <%= link_to "WRITE ARTICLE", new_article_path, :class => 'pl-3 link-nav'%>
      <% end %>
    </div>

    <div class="mt-3">
      <% if logged_in? %>
      <%= link_to "LOGOUT", logout_path, :class => 'pr-2 link-nav', method: :delete %>
      <% else %>
      <%= link_to "LOGIN", login_path, :class => 'pr-2 link-nav'%> |
      <%= link_to "REGISTER", new_user_path, :class => 'pr-3 pl-2 link-nav'%>
      <% end %>
    </div>

  </div>
</nav>
<hr>
